* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

body[class='160x600'] .banner {
  width: 160px;
  height: 600px;
}
body[class='300x250'] .banner {
  width: 300px;
  height: 250px;
}
body[class='300x600'] .banner {
  width: 300px;
  height: 600px;
}
body[class='970x250'] .banner {
  width: 970px;
  height: 250px;
}
body[class='728x90'] .banner {
  width: 728px;
  height: 90px;
}

body[class='160x600'] br[class]:not([class='160x600']),
body[class='300x250'] br[class]:not([class='300x250']),
body[class='300x600'] br[class]:not([class='300x600']),
body[class='970x250'] br[class]:not([class='970x250']),
body[class='728x90'] br[class]:not([class='728x90']) {
  display: none;
}

.banner {
  background: var(--body-bg-color, #fff);
}

.banner {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border: 1px solid var(--body-border-color, #000);
  user-select: none;
  -webkit-user-select: none;
  opacity: 0;
}

#main_link {
  position: absolute;
  inset: -1px;
  overflow: hidden;
  cursor: pointer;
}

#main_link > * {
  opacity: 0;
}

#main_link div {
  position: absolute;
}

.isiScroll div { cursor: default; }
.isiScroll:not(.bnfy-enter) { max-height: 100%; }

.isiScroll {
  overflow-x: hidden;
  background-color: var(--isi-bg-color, #fff);
}

#html {
  display: block;
  max-height: 100%;
  overflow-x: hidden;
  word-break: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#html::-webkit-scrollbar {
  display: none;
}

.isiScroll > a {
  display: block;
  padding: 6px 0;
}

.isiScroll > b:first-child, .isiScroll > b:first-child b {
  display: block;
  min-width: 6px;
  min-height: 7px;
  border-radius: 0;
  position: absolute;
  z-index: 1;
}

.isiScroll > b:first-child {
  top: 15px;
  bottom: 15px;
  right: 0px;
  min-width: 6px;
  border: 1px solid #c3dcd7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.isiScroll > b:first-child b {
  cursor: pointer;
  min-width: 4px;
}

.isiScroll > b:first-child i {
  display: block;
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-image: initial;
  margin: -15px -3px;
  cursor: pointer;
  z-index: 1;
}

.isiScroll > b:first-child i + i {
  bottom: 0;
}
